@import "tailwindcss";

:root {
  --black: #0a0a0a;
  --cream: #f7f3ec;
  --gold: #c8a97e;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--black);
  color: var(--cream);
  overflow-x: hidden;
}

.playfair {
  font-family: var(--font-playfair);
}
@keyframes heroZoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

.hero-image {
  animation: heroZoom 20s ease-in-out infinite;
}